<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smcommunity.mapper.TbSellerMapper" >
  <resultMap id="BaseResultMap" type="com.smcommunity.pojo.TbSeller" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="serllername" property="serllername" jdbcType="VARCHAR" />
    <result column="sellertype" property="sellertype" jdbcType="VARCHAR" />
    <result column="sellerddress" property="sellerddress" jdbcType="VARCHAR" />
    <result column="sellerphone" property="sellerphone" jdbcType="VARCHAR" />
    <result column="sellerlogo" property="sellerlogo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, username, password, serllername, sellertype, sellerddress, sellerphone, sellerlogo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.smcommunity.pojo.TbSellerExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_seller
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_seller
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_seller
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.smcommunity.pojo.TbSellerExample" >
    delete from tb_seller
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smcommunity.pojo.TbSeller" >
    insert into tb_seller (id, username, password, 
      serllername, sellertype, sellerddress, 
      sellerphone, sellerlogo)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{serllername,jdbcType=VARCHAR}, #{sellertype,jdbcType=VARCHAR}, #{sellerddress,jdbcType=VARCHAR}, 
      #{sellerphone,jdbcType=VARCHAR}, #{sellerlogo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.smcommunity.pojo.TbSeller" >
    insert into tb_seller
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="serllername != null" >
        serllername,
      </if>
      <if test="sellertype != null" >
        sellertype,
      </if>
      <if test="sellerddress != null" >
        sellerddress,
      </if>
      <if test="sellerphone != null" >
        sellerphone,
      </if>
      <if test="sellerlogo != null" >
        sellerlogo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="serllername != null" >
        #{serllername,jdbcType=VARCHAR},
      </if>
      <if test="sellertype != null" >
        #{sellertype,jdbcType=VARCHAR},
      </if>
      <if test="sellerddress != null" >
        #{sellerddress,jdbcType=VARCHAR},
      </if>
      <if test="sellerphone != null" >
        #{sellerphone,jdbcType=VARCHAR},
      </if>
      <if test="sellerlogo != null" >
        #{sellerlogo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smcommunity.pojo.TbSellerExample" resultType="java.lang.Integer" >
    select count(*) from tb_seller
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_seller
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.serllername != null" >
        serllername = #{record.serllername,jdbcType=VARCHAR},
      </if>
      <if test="record.sellertype != null" >
        sellertype = #{record.sellertype,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerddress != null" >
        sellerddress = #{record.sellerddress,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerphone != null" >
        sellerphone = #{record.sellerphone,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerlogo != null" >
        sellerlogo = #{record.sellerlogo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_seller
    set id = #{record.id,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      serllername = #{record.serllername,jdbcType=VARCHAR},
      sellertype = #{record.sellertype,jdbcType=VARCHAR},
      sellerddress = #{record.sellerddress,jdbcType=VARCHAR},
      sellerphone = #{record.sellerphone,jdbcType=VARCHAR},
      sellerlogo = #{record.sellerlogo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smcommunity.pojo.TbSeller" >
    update tb_seller
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="serllername != null" >
        serllername = #{serllername,jdbcType=VARCHAR},
      </if>
      <if test="sellertype != null" >
        sellertype = #{sellertype,jdbcType=VARCHAR},
      </if>
      <if test="sellerddress != null" >
        sellerddress = #{sellerddress,jdbcType=VARCHAR},
      </if>
      <if test="sellerphone != null" >
        sellerphone = #{sellerphone,jdbcType=VARCHAR},
      </if>
      <if test="sellerlogo != null" >
        sellerlogo = #{sellerlogo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smcommunity.pojo.TbSeller" >
    update tb_seller
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      serllername = #{serllername,jdbcType=VARCHAR},
      sellertype = #{sellertype,jdbcType=VARCHAR},
      sellerddress = #{sellerddress,jdbcType=VARCHAR},
      sellerphone = #{sellerphone,jdbcType=VARCHAR},
      sellerlogo = #{sellerlogo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>