<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinandaxue.demo1">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 写入SD卡的权限：如果你希望保存相机拍照后的照片 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SD卡的权限:打开相册选取图片所必须的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <!-- 百度地图需要的权限 -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="neEzEVS0lByLMjBuZwW4g8AkLZPmOBsM" />


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service android:name="com.jinandaxue.service.RouteService" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyActivity" />
        <activity android:name=".Loginsuccess" />
        <activity android:name=".Forgetpass" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PersonInfoActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".RepairActivity" />
        <activity android:name=".PublishTwoActivity" />
        <activity android:name=".PublishListActivity" />
        <activity android:name=".PublishMomentsActivity" />
        <activity android:name=".GoodsDetailActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".MyPublishActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".PublishDetailActivity"></activity>
        <activity android:name=".CommentActivity"></activity>
    </application>

</manifest>